.App-Footer {
    background-color: #eee;
    padding: 10px;
    position: fixed;
    text-align: center;
    bottom: 0;
    font-family: 'Lato', 'Helvetica', 'Segoe UI', 'Tahoma', 'Arial', 'sans-serif';
    font-size: 1.5em;
    width: 100%;
    font-weight: 500;
    color: #757575;
    border-top: 1px solid #000;
}

.App-Footer > .Results-Counter {
    float:left;
    width:250px;
}

.App-Footer > .Pagination-Group {
    float:right;
    width:250px;
}

.App-Footer > .Page-Number {
    margin:0 auto;
    width:250px;
}

.App-Footer > .Pagination-Group > span{
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .App-Footer > .Results-Counter {
        display: none;
    }
    
    .App-Footer > .Pagination-Group {
        float:none;
        width:auto;
    }
    
    .App-Footer > .Page-Number {
        float:none;
        width:auto;
    }
  }